body {
  margin: 12px;
  padding: 0;
  text-align: center;
  background-color: lightyellow
}

form {
  background-color: grey;
  padding: 10px;
  border-bottom-left-radius: 50px;
}

form > label {
  font-weight: 800;
  margin: 7px;
}

button {
  margin-left: 10px;
}

#movieListItem:nth-child(odd) {
  background-color: lightgreen;
  border-bottom-left-radius: 50px;
}

#movieListItem:nth-child(even){
  border-bottom-left-radius: 50px;
  background-color: lightsalmon
}

footer {
  font-size: 20px;
  text-align: center;
}

